<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <my-icon inverse shape="home" size="24"></my-icon>
        <span class="title">Clarity Icons</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-2">
          <my-icon
            class="is-solid"
            shape="success-standard"
            size="64"
          ></my-icon>
        </div>
        <div class="clr-col-2">
          <my-icon shape="info-standard" size="64"></my-icon>
        </div>
        <div class="clr-col-2">
          <my-icon class="is-solid" shape="my-image" size="64"></my-icon>
        </div>
      </div>
      <h3>Clarity Icons Migration</h3>
      <br /><br />
      <ul>
        <li>
          Import the Clarity Core ClarityIcons service from
          <code class="clr-code">@clr/core/icon</code>. This service will be
          used to add icon shapes to the library as needed.
        </li>
        <li>
          Import any icon shapes from
          <code class="clr-code">@clr/core/icon</code>. An IDE like VS Code
          might be helpful in auto-completing the shape imports.
        </li>
        <li>
          Add the imported icons to the ClarityIcons service using the
          ClarityIcons.addIcons() method. Icons can be added at the module level
          or component level. Adding an icon more than once to ClarityIcons will
          not have a negative effect.
        </li>
        <li>
          Instead of using the registration file, the
          <code class="clr-code">registerElementSafely()</code> function in
          <code class="clr-code">@clr/core/internal</code> can be used to
          register the CTS icon to any tag name you want.
        </li>
        <li>
          Coupled with importing the
          <code class="clr-code">ClarityIcons</code> service under an aliased
          name, this approach could potentially allow an application to continue
          using the legacy Clarity Icons library along side the Clarity Core
          icons, giving a great degree of flexibility during migration.
        </li>
        <li>
          To use web components in an Angular application, the
          <code class="clr-code">CUSTOM_ELEMENTS_SCHEMA</code> needs to be
          defined on the application module. Import
          <code class="clr-code">CUSTOM_ELEMENTS_SCHEMA</code> from
          <code class="clr-code">@angular/core</code> and make sure to add
          <code class="clr-code">CUSTOM_ELEMENTS_SCHEMA</code> to the
          <code class="clr-code">schemas</code> array property of your
          application's <code class="clr-code">@NgModule</code> decorator.
        </li>
      </ul>

      <form clrForm>
        <clr-date-container>
          <label>Datepicker component</label>
          <input type="date" clrDate name="demo" [(ngModel)]="demo" />
          <clr-control-helper>
            Some Clarity components use icons
          </clr-control-helper>
        </clr-date-container>
      </form>

      <p>
        Note that the icons in the datepicker above (which still uses the legacy
        Clarity Icons package) works just fine!
      </p>
    </div>
  </div>
</div>
