<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">Clarity Icons</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-2">
          <clr-icon
            class="is-solid"
            shape="success-standard"
            size="64"
          ></clr-icon>
        </div>
        <div class="clr-col-2">
          <clr-icon shape="info-standard" size="64"></clr-icon>
        </div>
        <div class="clr-col-2">
          <clr-icon class="is-solid" shape="image" size="64"></clr-icon>
        </div>
      </div>
      <h3>Clarity Icons Migration:</h3>
      <ul>
        <li>Start by clicking Fork in the toolbar above.</li>
        <li>Implement the problem in the new editor.</li>
        <li>
          Save the result, and share the url in a GitHub or StackOverflow issue.
        </li>
      </ul>

      <form clrForm>
        <clr-date-container>
          <label>Datepicker component</label>
          <input type="date" clrDate name="demo" [(ngModel)]="demo" />
          <clr-control-helper>
            Some Clarity components use icons
          </clr-control-helper>
        </clr-date-container>
      </form>
    </div>
  </div>
</div>
